@css {
  @import url(http://fonts.googleapis.com/css?family=Inconsolata);
  @import url(http://fonts.googleapis.com/css?family=PT+Sans);
  @import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
}

html
  font-family: 'PT Sans', sans-serif;

pre, code
  font-family: 'Inconsolata', sans-serif;

h1,h2,h3,h4,h5,h6
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700